<% provide(:title, "勤怠編集ログ") %>
<h1>勤怠編集ログ</h1>

<form>
<p>
<select>
  <option></option>
  <option>2015</option>
  <option>2016</option>
  <option>2017</option>
  <option>2018</option>
  <option>2019</option>
  <option>2020</option>
</select>　：年
</p>

<p>
  <select>
  <option></option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10</option>
  <option>11</option>
  <option>12</option>
</select>　：月
</p>

<p>
  <input type="reset" value="リセット">
</p>
</form>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>日付</td>
      <td>変更前出勤時間</td>
      <td>変更前退勤時間</td>
      <td>変更後出社</td>
      <td>変更後退社</td>
      <td>指示者</td>
      <td>承認日</td>
    </tr>
  </table>
</div>