<% provide(:title, @user.name) %>
<h1>拠点一覧</h1>

<div>
    <table>
      <tr>
        <td></td>
        <td></td>
        <td>拠点番号</td>
        <td>拠点名</td>
        <td>拠点種類</td>
      </tr>
      <tr>
        <td><%= link_to "修正", "", class="btn btn-primary" %></td>
        <td><%= link_to "削除", "", class="btn btn-primary" %></td>
      </tr>
    </table>
</div>